<mat-sidenav-container class="app-navbar sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isSmall$ | async) ? 'dialog' : 'navigation'"
    [mode]="((isSmall$ | async) || (isXSmall$ | async))? 'over' : 'side'" [opened]="false">
    <mat-toolbar color="primary">
      <a mat-button class="app-navbar-brand app-nav-button" routerLink="/" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}">Joel Gilbert</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item class="app-sidebar-item" routerLink="/projects" routerLinkActive="active" (click)="drawer.toggle()">Projects</a>
      <a mat-list-item class="app-sidebar-item" routerLink="/repos" routerLinkActive="active" (click)="drawer.toggle()">Repos</a>
      <a mat-list-item class="app-sidebar-item" routerLink="/docker" routerLinkActive="active" (click)="drawer.toggle()">Docker</a>
      <a mat-list-item class="app-sidebar-item" routerLink="/contact" routerLinkActive="active" (click)="drawer.toggle()">Contact</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="app-navbar mb-1">
      <a mat-flat-button class="app-navbar-brand app-nav-button" routerLink="/" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}">Joel Gilbert</a>
      <span class="app-menu-spacer"></span>
      <span *ngIf="!((isSmall$ | async) || (isXSmall$ | async))">       
        <!-- <a mat-button class="app-nav-button" routerLink="/resume" routerLinkActive="active"><h3>Resume</h3></a>  -->
        <a mat-button class="app-nav-button" routerLink="/projects" routerLinkActive="active"><h3>Projects</h3></a>
        <a mat-button class="app-nav-button" routerLink="/repos" routerLinkActive="active"><h3>Repos</h3></a>
        <a mat-button class="app-nav-button" routerLink="/docker" routerLinkActive="active"><h3>Docker</h3></a>
        <a mat-button class="app-nav-button" routerLink="/contact" routerLinkActive="active"><h3>Contact</h3></a>
      </span>
      <div *ngIf="((isSmall$ | async) || (isXSmall$ | async))">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="((isSmall$ | async) || (isXSmall$ | async))">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
