@import '../../styles.scss';

.sidenav-container {
  height: 100%;
}

.sidenav {
  min-width: 200px;
  width: 20rem;
  background-color: $primary;
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-menu-spacer {
  flex: 1 1 auto;
}

.app-navbar {
  border-bottom: 1px $accent solid;
}

.app-navbar-brand{
  font-size: 1.75rem;
}

.active {
  border-bottom: 1px solid;
  border-bottom-color: $accent;
}
.active-dropdown-item {
  color:black;
  background-color: $accent;
}

.mat-button, 
.mat-flat-button, 
.mat-icon-button, 
.mat-stroked-button { 
  padding-left: .1rem;
  padding-right: .1rem;
  margin-left: .1rem;
  margin-right: .1rem;
  border-radius: 0px; 
  color: $primary-text;
  background-color: transparent;
}

.mat-list-item{
 color: $primary-text !important;
}

.mat-button:hover, 
.mat-flat-button:hover, 
.mat-icon-button:hover, 
.mat-stroked-button:hover,
.mat-list-item:hover { 
  border-bottom: 1px $accent solid;
}

